body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../../gambar/background.png);
    background-repeat: repeat-x;
}

h1 {
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color:darkblue;
    text-align: center;
}

h4 {  
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.nama {
    color: red;
    text-decoration: none;
}

.p1 {
    color: orange;
    text-align: center;
}

.p2 {
    line-height: 200%;
    text-align: right;
}

.nama:hover {
    color: blue;
}

.nama2:hover {
    color:white;
    background-color: blue;
}

h3 {
    text-align: center;
}